{{#each @locations.businesses as |loc|}}
	<div class="card">
		<div class="card-body" role="button" {{on "click" (fn @clickAction loc)}}>
			<span class="strong">{{loc.name}}</span> //
			<span>{{loc.categories}}</span>
			<hr>
			<span>{{loc.address.line1}} // {{loc.address.city}}, {{loc.address.state}}</span>
		</div>
	</div>
{{/each}}