{{#each @locations as |loc|}}
	<div class="card">
		<div class="card-body" role="button" {{on "click" (fn @clickAction loc)}}>
			<span class="strong">{{loc.name}}</span> //
			<span>
				{{#each loc.categories as |cat i|}}{{if (gt i 0) ', '}}{{cat}}{{/each}}
			</span>
			<hr>
			<span>{{loc.address.line1}} // {{loc.address.city}}, {{loc.address.state}}</span>
		</div>
	</div>
{{/each}}