{{#each @locations as |loc|}}
	<div class="card location{{if (eq loc.vendorId @vendorId) ' vendor-match'}}">
		<div class="card-body" role="button" {{on "click" (fn @clickAction loc)}}>
			<span class="strong">{{loc.name}}</span> //
			<span>{{loc.address.line1}} // {{loc.address.city}}, {{loc.address.state}}</span>
			<span class="badge badge-default">
				{{#each loc.categories as |cat i|}}{{if (gt i 0) ', '}}{{cat}}{{/each}}
			</span>
		</div>
	</div>
{{/each}}
<hr>
{{#if (gt @offset 0)}}
	<span class="btn btn-small primary left" {{on "click" @getPrevPage}}>PREV</span>
{{/if}}
{{#if @more}}
	<span class="btn btn-small primary right" {{on "click" @getNextPage}}>NEXT</span>
{{/if}}