<div class="col-md-6">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Reset Password</h4>
			<p class="card-category">
				<a href="javascript:void(0);" {{on "click" this.clearForm}}>Clear Form</a>
			</p>
		</div>
		<div class="card-body">
			<LoadingSpinner @isLoading={{this.isLoading}}>
				<BsAlert
					@visible={{this.showMsg}}
					@fade={{true}}
					@type={{this.msgType}}
					@dismissible={{true}}
					@onDismissed={{fn this.hideMsg}}>
					{{#each this.msgs as |msg|}}
						<p>{{msg}}</p>
					{{/each}}
				</BsAlert>
				<BsForm @formLayout="horizontal" @model={{this}} @onSubmit={{fn this.submit}} as |form|>
					<form.element
						@controlType="password"
						@label="Password"
						@placeholder="********"
						@property="password"
						@required={{true}}/>
					<form.element
						@controlType="password"
						@label="Confirm Password"
						@placeholder="********"
						@property="password2"
						@required={{true}} />
					<BsButton @type="primary" type="submit" @defaultText="Submit" />
				</BsForm>
			</LoadingSpinner>
		</div>
	</div>
</div>