<div class="col-md-6">
	{{#if (eq this.machineState 'IDLE')}}
		<Vendors::VendorDisplay
			@vendor={{@vendor}}
			@startEdit={{this.startEdit}}
			@refresh={{@refresh}} />
	{{else if (eq this.machineState 'EDIT_LOCATION')}}
		<Vendors::VendorForm
			@vendor={{@vendor}}
			@resolveAction={{this.endEdit}} />
	{{/if}}
	<UsersList
		@title="Admins"
		@users={{@vendor.admins}} />
	<UsersList
		@title="Members"
		@users={{@vendor.members}} />
</div>
