{{!-- <div class="row"> --}}
	<BsForm
		@formLayout="horizontal" 
		model={{this.yelpBusinessSearchParams}}
		@onSubmit={{fn this.searchBusinesses}}
		as |form|>
		<form.element @controlType="text" @label="Find" @placeholder="Business Name" @property="term" />
		<form.element @controlType="text" @label="in" @placeholder="Ex: Dallas, 75201, West 7th" @property="location" />
		<PowerSelectMultiple
			@searchEnabled={{true}}
			@options={{this.yelpCategories}}
			@searchField="title"
			@selected={{this.categories}}
			@onChange={{fn (mut this.categories)}} as |cat|>
			{{cat.title}}
		</PowerSelectMultiple>
		<br>
		<BsButton @type="primary" type="submit" @defaultText="Submit" />
	</BsForm>
	<hr>
	{{#each @yelpMatches as |match|}}
		<h4>{{match.name}}</h4>
		<dl>
			<dt>Phone</dt>
			<dd>{{match.phone}}</dd>
			<dt>Address</dt>
			<dd>{{match.location.address1}}</dd>
			{{#if match.location.address2}}
				<dd>{{match.location.address2}}</dd>
				{{#if match.location.address3}}
					<dd>{{match.location.address3}}</dd>
				{{/if}}
			{{/if}}
			<dd>{{match.location.city}}, {{match.location.state}}</dd>
		</dl>
	{{/each}}
{{!-- </div> --}}