<div class="col-md-6">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Review Business Details</h4>
			<p class="card-category">
				<a href="javascript:void(0);" {{on "click" this.clearForm}}>Clear Form</a>
			</p>
		</div>
		<div class="card-body">
			<BsForm @formLayout="horizontal" @model={{this}} @onSubmit={{fn this.submit}} as |form|>
				<form.element @controlType="text" @label="Name" @placeholder="Name" @property="name" @required={{true}} />
				<form.element @controlType="text" @label="Address" @placeholder="Line 1" @property="addressLine1" @required={{true}} />
				<form.element @controlType="text" @label="" @placeholder="Line 2" @property="addressLine2" />
				<form.element @controlType="text" @label="City" @placeholder="City" @property="city" @required={{true}} />
				<form.group>
					<label class="col-md-4">State</label>
					<div class="col-md-8">
						<PowerSelect
							@options={{this.statesWithCodes}}
							@placeholder="State"
							@selected={{this.state}}
							@onChange={{fn (mut this.state)}} as |st|>
							{{st.name}}
						</PowerSelect>
					</div>
				</form.group>
				<form.element @controlType="text" @label="Zip Code" @placeholder="xxxxx-xxxx" @property="zip" />				
				<form.group>
					<label class="col-form-label col-md-4">Categories</label>
					<div class="col-md-8">
						<PowerSelectMultiple
							@searchEnabled={{true}}
							@options={{this.poppinCategories}}
							@placeholder="Search..."
							@searchField="name"
							@selected={{this.categories}}
							@onChange={{fn (mut this.categories)}} as |cat|>
							{{cat.name}}
						</PowerSelectMultiple>
					</div>
				</form.group>
				<form.element @controlType="text" @label="Logo URL" @placeholder="https://awesomebiz.com/photos/my-logo.jpg" @property="logoUrl" />
				<form.element @controlType="text" @label="Main Photo URL" @placeholder="https://awesomebiz.com/photos/my-epic-banner.jpg" @property="mainPhotoUrl" />
				<form.element @controlType="text" @label="Add'l Photo URL" @placeholder="https://awesomebiz.com/photos/my-epic-pic.jpg" @property="addlPhotoUrl" />
				{{!-- <div class="form-group row justify-content-md-center">
					<BsButton @onClick={{this.addImg}}><img src="/images/add_circle-24px.svg" /> Add an image</BsButton>
				</div> --}}
				<form.element @controlType="text" @label="Website" @placeholder="https://awesomebiz.com/" @property="website" />
				<form.element @controlType="tel" @label="Phone" @placeholder="Phone" @property="phone" />
				<hr>
				<h5>Add a Menu</h5>
				<form.element @label="Name" @placeholder="Breakfast|Brunch|Lunch|Dinner|Cocktails|Wine|Beer" @controlType="text" @property="menuName" />
				<form.element @label="URL" @placeholder="https://awesomebiz.com/menu" @controlType="text" @property="menuUrl" />
				<hr>
				<form.element @controlType="text" @label="Yelp URL" @placeholder="https://www.yelp.com/biz/awesome-biz-2/" @property="yelpUrl" />
				<div class="form-group row">
					<form.element class="col-md-6" @controlType="number" @label="Capacity" @placeholder="Capacity" @property="capacity" @required={{true}} />
					<div class="form-check col-md-6">
						<label class="form-check-label col-form-label">
							<Input class="form-check-input" @type="checkbox" @checked={{this.capacityConfirmed}} />
							Confirmed?
							<span class="form-check-sign">
									<span class="check"></span>
							</span>
						</label>
					</div>
				</div>
				<form.element @controlType="number" @label="Visit Length" @placeholder="Visit Length" @property="visitLength" @required={{true}} />
				<BsButton @type="primary" type="submit" @defaultText="Submit" />
				<span class="btn btn-default" {{on "click" this.cancel}}>Cancel</span>
			</BsForm>
		</div>
	</div>
</div>

{{#if @addNew}}
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Search Yelp</h4>
			</div>
			<div class="card-body">
				<Yelp::YelpMatchForm
					@term={{this.name}}
					@location={{this.city}}
					@yelpMatchId={{this.yelpId}}
					@yelpMatches={{this.yelpMatches}}
					@acceptMatch={{this.acceptMatch}}
					@fillData={{this.fillData}}
					@canAcceptMatch={{this.canAcceptMatch}} />
			</div>
		</div>
	</div>
{{else}}
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Photos and Menus</h4>
				<p>Click to remove. It's not final til you hit submit!</p>
			</div>
			<div class="card-body">
				{{#each this.photoUrls as |pic|}}
					<img src={{pic}} class="col-sm-4" {{on "click" (fn this.removePic pic)}} />
				{{/each}}
				<hr>			
				{{#each this.oldMenus as |menu|}}
					<span href={{menu.url}} {{on "click" (fn this.removeMenu menu)}} class="btn btn-default btn-small">{{menu.name}}</span>
				{{/each}}
			</div>
		</div>
	</div>
{{/if}}

<BsModal @open={{this.showModal}} as |modal|>
	<modal.header>
		<h4 class="modal-title">{{this.modalTitle}}</h4>
	</modal.header>
	<modal.body>{{this.modalText}}</modal.body>
	<modal.footer>
		<BsButton @onClick={{action modal.close}}>Close</BsButton>
	</modal.footer>
</BsModal>