{{#unless @reverseOrder}}
	<div class="col-xl-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Search Yelp</h4>
			</div>
			<div class="card-body">
				<Yelp::YelpMatchForm
					@term={{this.name}}
					@location={{this.city}}
					@yelpMatchId={{this.yelpId}}
					@yelpMatches={{this.yelpMatches}}
					@acceptMatch={{this.acceptMatch}}
					@fillData={{this.fillData}}
					@canAcceptMatch={{this.canAcceptMatch}} />
			</div>
		</div>
	</div>
{{/unless}}
<div class="col-xl-6">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Review Business Details</h4>
			<p class="card-category">
				<a href="javascript:void(0);" {{on "click" this.clearForm}}>Clear Form</a> //
				<a href="javascript:void(0);" {{on "click" this.cancel}}>Cancel</a>
			</p>
		</div>
		<div class="card-body">
			<BsForm @formLayout="horizontal" @model={{this}} @onSubmit={{fn this.submit}} as |form|>
				<form.element @controlType="text" @label="Name" @placeholder="Name" @property="name" @required={{true}} />
				<form.element @controlType="text" @label="Address" @placeholder="Line 1" @property="addressLine1" @required={{true}} />
				<form.element @controlType="text" @label="" @placeholder="Line 2" @property="addressLine2" />
				<form.element @controlType="text" @label="City" @placeholder="City" @property="city" @required={{true}} />
				<form.element @controlType="text" @label="State" @placeholder="State" @property="state" @required={{true}} />
				<form.element @controlType="text" @label="Zip Code" @placeholder="xxxxx-xxxx" @property="zip" />				
				<form.group>
					<label class="col-form-label col-md-4">Categories</label>
					<div class="col-md-8">
						<PowerSelectMultiple
							@searchEnabled={{true}}
							@options={{this.poppinCategories}}
							@placeholder="Search..."
							@searchField="name"
							@selected={{this.categories}}
							@onChange={{fn (mut this.categories)}} as |cat|>
							{{cat.name}}
						</PowerSelectMultiple>
					</div>
				</form.group>
				<form.element @controlType="text" @label="Logo URL" @placeholder="https://awesomebiz.com/photos/my-logo.jpg" @property="logoUrl" />
				<form.element @controlType="text" @label="Main Photo URL" @placeholder="https://awesomebiz.com/photos/my-epic-banner.jpg" @property="mainPhotoUrl" />
				{{#each this.addlPhotoUrls as |img|}}
					<form.element @controlType="text" @label="Add'l Photo URL" @placeholder="https://awesomebiz.com/photos/my-epic-pic.jpg" @property={{img}} />
				{{/each}}
				<div class="form-group row justify-content-md-center">
					<BsButton @onClick={{this.addImg}}><img src="/images/add_circle-24px.svg" /> Add an image</BsButton>
				</div>
				<form.element @controlType="text" @label="Website" @placeholder="https://awesomebiz.com/" @property="website" />
				<form.element @controlType="text" @label="Yelp Url" @placeholder="https://awesomebiz.com/" @property="yelpUrl" />
				<form.element @controlType="number" @label="Capacity" @placeholder="Capacity" @property="capacity" @required={{true}} />
				<form.element @controlType="number" @label="Visit Length" @placeholder="Visit Length" @property="visitLength" @required={{true}} />
				<BsButton @type="primary" type="submit" @defaultText="Submit" />
			</BsForm>
		</div>
	</div>
</div>
{{#if @reverseOrder}}
	<div class="col-xl-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Search Yelp</h4>
			</div>
			<div class="card-body">
				<Yelp::YelpMatchForm
					@term={{this.name}}
					@location={{this.city}}
					@yelpMatchId={{this.yelpId}}
					@yelpMatches={{this.yelpMatches}}
					@acceptMatch={{this.acceptMatch}}
					@fillData={{this.fillData}}
					@canAcceptMatch={{this.canAcceptMatch}} />
			</div>
		</div>
	</div>
{{/if}}

<BsModal @open={{this.showModal}} as |modal|>
	<modal.header>
		<h4 class="modal-title">{{this.modalTitle}}</h4>
	</modal.header>
	<modal.body>{{this.modalText}}</modal.body>
	<modal.footer>
		<BsButton @onClick={{action modal.close}}>Close</BsButton>
	</modal.footer>
</BsModal>