{{#if (eq this.machineState 'EDIT_LOCATION')}}
	<Locations::LocationForm
		@reverseOrder=true
		@location={{@location}}
		@resolveAction={{this.endEdit}} />
{{else}}
	<Locations::LocationDisplay
		@isAdmin={{this.isAdmin}}
		@isVendor={{this.isVendor}}
		@isFavorite={{this.isFavorite}}
		@favAction={{this.favAction}}
		@profile={{this.accountService.profile}}
		@isLoading={{eq this.machineState 'LOADING'}}
		@location={{@location}}
		@startEdit={{this.startEdit}}
		@increment={{this.increment}}
		@decrement={{this.decrement}}
		@refresh={{@refresh}} />
{{/if}}

<BsModal @open={{this.showModal}} as |modal|>
	<modal.header>
		<h4 class="modal-title">{{this.modalTitle}}</h4>
	</modal.header>
	<modal.body>{{this.modalText}}</modal.body>
	<modal.footer>
		<BsButton @onClick={{action modal.close}}>Close</BsButton>
	</modal.footer>
</BsModal>