{{#if @location.mainPhotoUrl}}
	<div class="col-md-12 location-banner{{if (eq this.machineState 'EDIT_LOCATION') ' edit'}}" style="background-image: url({{@location.mainPhotoUrl}})">
		<div class="logo">
			<img src="{{@location.logoUrl}}" />
		</div>
	</div>
{{/if}}

{{#if (eq this.machineState 'EDIT_LOCATION')}}
	<Locations::LocationForm
		@reverseOrder=true
		@isAdmin={{this.isAdmin}}
		@location={{@location}}
		@resolveAction={{this.endEdit}} />
{{else}}
	<Locations::LocationDisplay
		@isAdmin={{this.isAdmin}}
		@isVendor={{this.isVendor}}
		@isFavorite={{this.isFavorite}}
		@favAction={{this.favAction}}
		@profile={{this.accountService.profile}}
		@isLoading={{eq this.machineState 'LOADING'}}
		@location={{@location}}
		@price={{this.price}}
		@categories={{this.fullCategories}}
		@startEdit={{this.startEdit}}
		@increment={{this.increment}}
		@decrement={{this.decrement}}
		@refresh={{@refresh}} />
{{/if}}

<BsModal @open={{this.showModal}} as |modal|>
	<modal.header>
		<h4 class="modal-title">{{this.modalTitle}}</h4>
	</modal.header>
	<modal.body>{{this.modalText}}</modal.body>
	<modal.footer>
		<BsButton @onClick={{action modal.close}}>Close</BsButton>
	</modal.footer>
</BsModal>

<BsModal @open={{this.showQrModal}} as |modal|>
	<modal.header>
		<h4 class="modal-title">WELCOME TO POPP!N</h4>
	</modal.header>
	<modal.body>
		{{#if this.modalMsg}}
			<p>{{this.modalMsg}}</p>
		{{/if}}
		{{#if this.profile}}
			<BsButton @type="primary" @onClick={{this.checkin}}>Check in to {{@location.name}}</BsButton>
		{{else}}
			<BsButton @type="primary" @onClick={{this.startLoginModal}}>Check in to {{@location.name}}</BsButton>
		{{/if}}
		<a href="http://get-poppin.com" target="_blank" class="btn btn-info">Learn about Popp!n</a>
		<hr>
		<h4>Download the app:</h4>
		<a href="https://apps.apple.com/us/app/popp-n/id1528110407" class="btn btn-default" target="_blank">Apple App Store</a>
		<a href="https://play.google.com/store/apps/details?id=com.getpoppin.app" class="btn btn-default" target="_blank">Google Play</a>
	</modal.body>
	<modal.footer>
		<BsButton @onClick={{this.endQrModal}}>Close</BsButton>
	</modal.footer>
</BsModal>

<BsModal @open={{this.showLoginModal}} as |modal|>
	<modal.body>
		{{#if this.modalMsg}}
			<p>{{this.modalMsg}}</p>
		{{/if}}
		<p>
			Sign up in less than 2 minutes with an email address. We DO NOT share your personal information.
			See our <a href="https://www.termsfeed.com/live/fd313d9c-42e9-4957-9c65-815152a2ec0c">privacy policy</a> for details.
		</p>
		<Account::LoginForm @refresh={{this.checkin}} />
	</modal.body>
	<modal.footer>
		<BsButton @onClick={{this.endLoginModal}}>Close</BsButton>
	</modal.footer>
</BsModal>