<div class="col-md-4">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">{{@location.name}}</h4>
			<p class="address">{{@location.address.line1}} // {{@location.address.city}}, {{@location.address.state}}</p>
			<p>
				{{#if (or @isAdmin @isVendor)}}
					<span class="btn btn-info btn-sm" {{on "click" @startEdit}}>Edit</span> // 
				{{/if}}
				<span class="btn btn-{{if @isFavorite 'success' 'info'}} btn-sm" {{on 'click' @favAction}}>
					{{if @isFavorite 'Unpin' 'Pin Location'}}
				</span>
			</p>
			{{#if @location.website}}
			<p>
				<a href="{{@location.website}}" class="text-dark" target="_blank">{{@location.website}}</a>
			</p>
			{{/if}}
			<p>
				Price: {{@price.name}} // Rating: <span class="rating" style="width:{{multiply-stuff @location.rating 18}}px"></span>
				
			</p>
		</div>
		<div class="card-body">
			<LoadingSpinner @isLoading={{@isLoading}}>
					<div class="row text-center">
						<h3 class="col-md-12">Current Crowd</h3>
						<h1 class="col-md-12">
							{{#if (and (gt @location.crowdSize 0)  (or @isAdmin @isVendor))}}
								<img width="40" role="button" src="/images/arrow_circle_down-24px.svg" {{on 'click' @decrement}} />
							{{/if}}
							{{@location.crowdSize}}
							{{#if (or @isAdmin @isVendor)}}
								<img width="40" role="button" src="/images/arrow_circle_up-24px.svg" {{on 'click' @increment}} />
							{{/if}}
						</h1>
					</div>
				<dl>
					<dt>Occupancy Limit</dt>
					<dd>{{@location.capacity}} - <div class="badge badge-{{if @location.capacityConfirmed 'info' 'default'}}">{{if @location.capacityConfirmed 'Confirmed' 'Unconfirmed'}}</div></dd>
					<dt>Categories:</dt>
					<dd>
						{{#each @categories as |category|}}
							{{category.name}}{{unless (eq category @categories.lastObject) ' //'}}
						{{/each}}
					</dd>
					{{#if @location.menus}}
						<dt>Menu(s)</dt>
						{{#each @location.menus as |menu|}}
							<a href={{menu.url}} target="_blank" class="btn btn-default btn-small">{{menu.name}}</a>
						{{/each}}
					{{/if}}

					{{#if @location.addlPhotoUrls}}
						<dt>Photo(s)</dt>
						{{#each @location.addlPhotoUrls as |pic|}}
							<dd>
								<a href={{pic}} target="_blank">
									<img style="width: 100%;" src={{pic}} />
								</a>
								<hr>
							</dd>
						{{/each}}
					{{/if}}

				</dl>
			</LoadingSpinner>
		</div>
	</div>
</div>

{{!-- <div class="col-md-8">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Yelp Details {{unless (or @location.yelpUrl @location.yelpDetails) '(unavailable...check back later)'}}</h4>
		</div>
		<div class="card-body"> 
			<iframe style="width: 100%; height: 100vh;" src={{if @location.yelpUrl @location.yelpUrl @location.yelpDetails.url}} />
		</div>
	</div>
</div> --}}